body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background: #e3e1e1;
    font-family: 'Lato', sans-serif;
    background-image: url('https://images.unsplash.com/photo-1553984840-ec965a23cddd?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2664');
    background-size: cover;
}

.card {
    background-color: rgb(36, 36, 36);
    opacity: 0.8;
    padding: 2em;
    border-radius: 20px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
    color: white;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

button {
    padding: 1em;
    border-radius: 8px;
    border: none;
    margin: 10px;
    background-color: #69696990;
}

.search-bar {
    padding: 11px;
    border-radius: 8px;
    background-color: #69696980;
    font-size: 20px;
    color: white;
}


button:hover {
    background-color: white;
}

.temp {
    font-size: 35px;
}

h1.temp {
    margin: 0;
    margin-bottom: 10px;
}

.description {
    text-transform: capitalize;
    margin-left: 8px;
}

.flex {
    display: flex;
    align-items: center;
  }

  .wind {
      margin: 5px;
  }

  .humidity {
      margin: 5px;
  }
